---
dev:
  DEPLOYMENT_BUCKET: {BUCKET_NAME}
  CONFIG: {CONFIG_FILE_NAME} 
  SENTRY_DSN: {YOUR_SERNTRY_DNS}

production:
  DEPLOYMENT_BUCKET: {BUCKET_NAME}
  CONFIG: {CONFIG_FILE_NAME} 
  SENTRY_DSN: {YOUR_SENTRY_DNS} 

